body{
    font-family:  poppins;
}


/*footer section*/
                  .footer-top
                  {
                    background: #201919;
                    padding:80px 0;
                    color:white;
                  }

                  .segment-one h3
                  {
                     font-family: poppins;

                    color:#fff;
                    letter-spacing: 3px;
                    margin:10px 0;

                  }

                  .segment-two h3
                  {
                    font-family: poppins;
                    margin:10px 0;
                  }

                  .segment-two h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  .segment-two a{
                    background: #494848;
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    border-radius: 50%;
                  }

                  .segment-two a i{
                    font-size: 20px;
                    color: #fff;
                    padding:10px;
                  }

                  .segment-three h3
                  {
                    font-family: poppins;
                    margin:10px 0;
                  }

                  .segment-three h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  .segment-three ul li
                  {
                    
                    line-height: 40px
                  }

                  .footer-bottom-text
                  {
                    text-align: center;
                    background: #151111;
                    line-height: 75px;
                    color:white;
                  }

                  /* Responsive css for footer section*/
                  @media only screen and (min-width: 768px) and (max-width: 991px)
                  {
                    .md-mb-30
                    {
                      margin-bottom: 30px;
                    }
                  }

                  @media only screen and (max-width: 767px)
                  {
                    .sm-mb-30
                    {
                      margin-bottom: 30px;
                    }
                    .footer-top
                    {
                      padding:50px 0;
                    }
                  }



              /*Navbar Section*/
              .navbar-nav a
              {
                font-family: poppins;
                font-size: 18px;
              }

              

              .navbar
              {
                background: rgba(0, 0, 0, .24);
              }

               .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link 
               {
                  color: #fff;
               }
               .navbar-light .navbar-nav .nav-link
               {
                color: #fff;
               }

               .navbar-nav
               {
                text-align: center;
               }
               .navbar-link
               {
                padding:.2rem 1rem;
               }

              .navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover
               {
                color: #201919 !important;
               }
              
              

              @media only screen and (max-width: 767px)
              {
                .navbar-nav.ml-auto
                {
                  background: rgba(0,0,0,0.5);
                }
                .navbar-toggler
                {
                  padding:1px 5px;
                  font-size: 18px;
                  line-height: 0.3;
                  background: #fff;
                }
              }

              /*image slider*/
              .carousel-caption{
                position:absolute;
                top:50%;
                transform: translateY(-50%);
              }

              .carousel-caption h1
              {
                font-size: 400%;
                text-transform: uppercase;
                text-shadow: 1px 1px 15px #000;
              }

              .carousel-caption p
              {
                font-size: 200%;
                font-weight: 300;
                text-shadow: 1px 1px 10px #000;
              }



            /*services*/
            .section-top
                  {
                    background: #495059;
                    padding:80px 0;
                    color:white;
                  }


            .segment-onee h3
                  {
                    font-family: poppins;
                    
                    margin:10px 0;

                  }

                   .segment-onee h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  .segment-onee ul li
                  {
                    
                    line-height: 40px;
                  }


                  .segment-twoo h3
                  {
                    font-family: poppins;
                    margin:10px 0;
                  }

                  .segment-twoo h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  
                  .segment-twoo ul li
                  {
                    
                    line-height: 40px;
                  }

                  

                  .segment-threee h3
                  {
                    font-family: poppins;
                    margin:10px 0;
                  }

                  .segment-threee h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  .segment-threee ul li
                  {
                    
                    line-height: 40px
                  }


                  /* Responsive css for footer section*/
                  @media only screen and (min-width: 768px) and (max-width: 991px)
                  {
                    .md-mb-30
                    {
                      margin-bottom: 30px;
                    }
                  }

                  @media only screen and (max-width: 767px)
                  {
                    .sm-mb-30
                    {
                      margin-bottom: 30px;
                    }
                    .section-top
                    {
                      padding:50px 0;
                    }
                  }


/* test */
#testiomonial{
    margin-top: 50px;
}

#testiomonial h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 25px 0 50px
}

#testiomonial h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #ffdc12;
    left: 0;
    right: 0;
    bottom: -10px
}

.test {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.test .item {
    color: #999;
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    min-height: 340px
}

.test .item a {
    color: #eb7245
}

.test .img-box {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    border-radius: 50%
}

.test .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%
}

.test .testimonial {
    padding: 30px 0 10px
}

.testimonial {
    color: #000000;
    font: Times Roman
}

.test .overview {
    text-align: center;
    padding-bottom: 5px
}

.test .overview b {
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px
}

.test .star-rating i {
    font-size: 18px;
    color: #ffdc12
}

.test .carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #999;
    text-shadow: none;
    top: 4px
}

.test .carousel-control i {
    font-size: 20px;
    margin-right: 2px
}

.test .carousel-control.left {
    left: auto;
    right: 40px
}

.test .carousel-control.right i {
    margin-right: -2px
}

.test .carousel-indicators {
    bottom: 15px
}

test .carousel-indicators li,
.carousel-indicators li.active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    border-radius: 50%
}

.test .carousel-indicators li {
    background: #e2e2e2;
    border-color: transparent
}

.test .carousel-indicators li.active {
    border: none;
    background: #888
}
@media only screen and (max-width: 500px){
  .test .testimonial {
      margin-top: 25px;
      
    }
}
@media only screen and (max-width: 500px){
    .test {
        
        width: 300px;
        
    }
    
}

 /* INTERIOR banner section*/
                  .interior,.exterior,.handy,.design
                  {
                      position:relative;
                      opacity:0.90;
                      background-position:center;
                      background-size:cover;
                      background-repeat:no-repeat;

                      /*
                        fixed = parallax
                        scroll = normal
                      */
                      background-attachment:fixed;
                    }

                    .interior
                    {
                      background-image:url('/roberto-nickson-tleCJiDOri0-unsplash.jpg');
                      min-height:600px;
                    }
.exterior{
    background-image: url(/fulvio-ambrosanio-LFPxOuOEi58-unsplash.jpg);
    min-height: 600px;
}

.handy{
    background-image: url(/handy.jpg);
    min-height: 600px;
}
.design{
    background-image: url(/design5.jpg);
    min-height: 600px;
}
                    .qtext,.etext,.htext,.dtext
                    {
                        position:absolute;
                        top:50%;
                        width:100%;
                        text-align:center;
                        color:#000;
                        font-size:27px;
                        text-transform:uppercase;
                      }

                      .qtext .border, .etext .border,.htext .border,.dtext .border
                      {
                        background-color:#111;
                        color:#fff;
                        padding:20px;
                      }

                      .qtext .border.trans, .etext .border.trans,.htext .border.trans,.dtext .border.trans{
                        background-color:transparent;
                      }

                      @media(max-width:568px){
                        .interior,exterior,.handy{
                          background-attachment:scroll;
                        }
                      }





/* albums */

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}



.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}



.img-box:hover {
  cursor: pointer;
}


.opacity-low {
  opacity: 0.5;
}

