                  /*footer section*/
                  .footer-top
                  {
                    background: #a92f2f;
                    padding:80px 0;
                    color:white;
                  }

                  .segment-one h3
                  {
                    font-family: Courgette;
                    color:#fff;
                    letter-spacing: 3px;
                    margin:10px 0;

                  }

                  .segment-two h3
                  {
                    font-family: poppins;
                    margin:10px 0;
                  }

                  .segment-two h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  .segment-two a{
                    background: #494848;
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    border-radius: 50%;
                  }

                  .segment-two a i{
                    font-size: 20px;
                    color: #fff;
                    padding:10px;
                  }

                  .segment-three h3
                  {
                    font-family: poppins;
                    margin:10px 0;
                  }

                  .segment-three h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  .segment-three ul li
                  {
                    
                    line-height: 40px
                  }

                  .footer-bottom-text
                  {
                    text-align: center;
                    background: #c03333;
                    line-height: 75px;
                    color:white;
                  }

                  /* Responsive css for footer section*/
                  @media only screen and (min-width: 768px) and (max-width: 991px)
                  {
                    .md-mb-30
                    {
                      margin-bottom: 30px;
                    }
                  }

                  @media only screen and (max-width: 767px)
                  {
                    .sm-mb-30
                    {
                      margin-bottom: 30px;
                    }
                    .footer-top
                    {
                      padding:50px 0;
                    }
                  }



              /*Navbar Section*/
              .navbar-nav a
              {
                font-family: poppins;
                font-size: 18px;
              }

              

              .navbar
              {
                background: rgba(0, 0, 0, .24);
              }

               .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link 
               {
                  color: #fff;
               }
               .navbar-light .navbar-nav .nav-link
               {
                color: #fff;
               }

               .navbar-nav
               {
                text-align: center;
               }
               .navbar-link
               {
                padding:.2rem 1rem;
               }

              .navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover
               {
                color: red !important;
               }
              
              

              @media only screen and (max-width: 767px)
              {
                .navbar-nav.ml-auto
                {
                  background: rgba(0,0,0,0.5);
                }
                .navbar-toggler
                {
                  padding:1px 5px;
                  font-size: 18px;
                  line-height: 0.3;
                  background: #fff;
                }
              }

              /*image slider*/
              .carousel-caption{
                position:absolute;
                top:50%;
                transform: translateY(-50%);
              }

              .carousel-caption h1
              {
                font-size: 400%;
                text-transform: uppercase;
                text-shadow: 1px 1px 15px #000;
              }

              .carousel-caption p
              {
                font-size: 200%;
                font-weight: 300;
                text-shadow: 1px 1px 10px #000;
              }



            /*services*/
            .section-top
                  {
                    background: #28568f;
                    padding:80px 0;
                    color:white;
                  }


            .segment-onee h3
                  {
                    font-family: poppins;
                    
                    margin:10px 0;

                  }

                   .segment-onee h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  .segment-onee ul li
                  {
                    
                    line-height: 40px;
                  }


                  .segment-twoo h3
                  {
                    font-family: poppins;
                    margin:10px 0;
                  }

                  .segment-twoo h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  
                  .segment-twoo ul li
                  {
                    
                    line-height: 40px;
                  }

                  

                  .segment-threee h3
                  {
                    font-family: poppins;
                    margin:10px 0;
                  }

                  .segment-threee h3:before
                  {
                    content: '|';
                    color:#c65039;
                    padding-right: 10px;
                  }

                  .segment-threee ul li
                  {
                    
                    line-height: 40px
                  }


                  /* Responsive css for footer section*/
                  @media only screen and (min-width: 768px) and (max-width: 991px)
                  {
                    .md-mb-30
                    {
                      margin-bottom: 30px;
                    }
                  }

                  @media only screen and (max-width: 767px)
                  {
                    .sm-mb-30
                    {
                      margin-bottom: 30px;
                    }
                    .section-top
                    {
                      padding:50px 0;
                    }
                  }




/* test */
#body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(#01579B, #03A9F4);
    background-repeat: no-repeat;
    margin-top: 40px;
}

.card-main {
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 8px 0px #283593
}

.card-0 {
    color: #fff;
    background-color: #536DFE;
    position: relative;
    margin-left: 70px;
    border-radius: 10px;
    min-height: 312px
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px
}

.profile {
    color: #000;
    background-color: #FFD54F;
    position: absolute;
    left: -70px;
    top: 17%;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px
}

.open-quotes {
    margin-left: 130px;
    margin-top: 100px
}

.content {
    margin-left: 150px;
    margin-right: 80px
}

.close-quotes {
    margin-bottom: 100px;
    margin-right: 60px
}

@media screen and (max-width: 600px) {
    .card-main {
        padding: 50px 10px
    }

    .card-0 {
        min-height: 432px
    }

    .profile {
        top: 24%
    }

    .profile-pic {
        width: 90px;
        height: 90px
    }

    .open-quotes {
        margin-left: 100px
    }

    .content {
        margin-left: 120px;
        margin-right: 50px
    }

    .close-quotes {
        margin-right: 30px
    }
}


 /* INTERIOR banner section*/
                  .interior,.exterior,.handy,.design
                  {
                      position:relative;
                      opacity:0.90;
                      background-position:center;
                      background-size:cover;
                      background-repeat:no-repeat;

                      /*
                        fixed = parallax
                        scroll = normal
                      */
                      background-attachment:fixed;
                    }

                    .interior
                    {
                      background-image:url('/roberto-nickson-tleCJiDOri0-unsplash.jpg');
                      min-height:600px;
                    }
.exterior{
    background-image: url(/fulvio-ambrosanio-LFPxOuOEi58-unsplash.jpg);
    min-height: 600px;
}

.handy{
    background-image: url(/handy.jpg);
    min-height: 600px;
}
.design{
    background-image: url(/design5.jpg);
    min-height: 600px;
}
                    .qtext,.etext,.htext,.dtext
                    {
                        position:absolute;
                        top:50%;
                        width:100%;
                        text-align:center;
                        color:#000;
                        font-size:27px;
                        letter-spacing:8px;
                        text-transform:uppercase;
                      }

                      .qtext .border, .etext .border,.htext .border,.dtext .border
                      {
                        background-color:#111;
                        color:#fff;
                        padding:20px;
                      }

                      .qtext .border.trans, .etext .border.trans,.htext .border.trans,.dtext .border.trans{
                        background-color:transparent;
                      }

                      @media(max-width:568px){
                        .interior,exterior,.handy{
                          background-attachment:scroll;
                        }
                      }





/* albums */

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}



.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}



.img-box:hover {
  cursor: pointer;
}


.opacity-low {
  opacity: 0.5;
}

